@import "tailwindcss";

@font-face {
  font-family: 'Champagne';
  src: url('/fonts/ChampagneLimousines.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5C50B1;
    border-radius: 20px;
  }
}
